body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4eeff;
}

.gamer-div {
  position: relative;
  width: 480px;
  margin: 2% auto 2% 2%;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  background-color: #dcd6f7;
}

.gamer-div ul {
  position: relative;
  width: 480px;
  margin: 2% auto 2% 2%;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);

} 

code {
    font-family: "Montserrat", sans-serif;
}
